{{#navigation}}
{{#unless subtitle}}
<li><a href="{{{link}}}">{{title}}</a></li>
{{/unless}}
{{#if subtitle}}
<li><a href="#">{{title}}<i class="icon-angle-down"></i></a>
	<ul>
	{{#subtitle}}
		{{#if subtitle}}
		<li><a href="{{{link}}}">{{title}}</a>
			<ul>
			{{#subtitle}}
				<li><a href="{{{link}}}">{{title}}</a></li>
			{{/subtitle}}
			</ul>
		</li>
		{{else}}
		<li><a href="{{{link}}}">{{title}}</a></li>
		{{/if}}
	{{/subtitle}}
	</ul>
</li>
{{/if}}
{{/navigation}}