<section class="hgroup">
	<div class="container">
		<h1>{{title}}</h1>
		<ul class="breadcrumb pull-right">
			<li><a href="%path%/index.htm">Home</a> </li>
			<li class="active">{{title}}</li>
		</ul>
	</div>
</section>
<figure>
	<div class="container">
		<img src="%path%/images/headers/{{{page}}}.jpg" class="img-rounded" alt="{{title}} Image">
	</div>
</figure>
<section>
	<div class="container">
		<div class="row">
			<div class="office_address col-sm-8 col-md-8">
				<!--fck--> 
				fck_one.htm
			</div>
			<div class="contact_form col-sm-4 col-md-4">
				<h4>Request More Information</h4>
				<!--form--> 
				{{{page}}}_form.htm
			</div>
		</div>
	</div>
</section>