<section class="pagetitle parallax parallax-image" style=
 "background-image:url(%path%/images/backgrounds/contact.jpg);">
<div class="wrapsection" style="background-image:url(http://themepush.com/demo/cayman/assets/img/pattern.png);background-repeat:repeat;">
	<div class="overlay" style="background:#303543;opacity:0.6;">
	</div>
	<div class="container">
		<div class="parallax-content">
			<div class="block2 text-center max80" style="color:#fff;">
				<h3>
				<span class="text1 big wow bounceIn" data-wow-delay="0s" data-wow-duration="1s">
				<b>Contact</b> Us </span>
				</h3>
				<h2>
				<span class="text2 big wow zoomIn" data-wow-delay="0.4s" data-wow-duration="2s">
				Get in Touch with our Team </span>
				</h2>
			</div>
		</div>
	</div>
</div>
</section>
<section class="split">
<div class="col-md-6 map">
	<iframe frameborder="0" height="420" marginheight="0" marginwidth="0" scrolling="no" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=CourseTrends,+9111+Jollyville+Road,+Austin,+TX&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=45.553578,135.263672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=CourseTrends,&amp;hnear=9111+Jollyville+Rd,+Austin,+Texas+78759&amp;t=m&amp;cid=17473077589844450981&amp;ll=30.391756,-97.741842&amp;spn=0.025913,0.066948&amp;z=14&amp;iwloc=A&amp;output=embed" width="100%"></iframe>
</div>
<div class="col-md-6 address darkbgcolor text-center" style="height:420px;padding-top:8%;">
	<div class="overlay darkbgcolor" style="opacity:0.9;">
	</div>
	<div class="thetext">
		<i class="fa fa-tint fa-3x"></i>
		<h2 class="title" style="line-height:1.8;">{{address1}}</b><br/>
		<span style="border-top:1px solid;border-bottom:1px solid;padding:5px 0;margin:5px 0;display:inline-block;">{{address2}}</span><br/>
		{{phone}}</h2>
	</div>
</div>
</section>
<section class="page-wrapper">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-5 text-center">
					<h4 class="text-center" style="padding-bottom:25px;"><b>OUR INFORMATION</b></h4>
						<!--fck-->
						fck_one.htm
				<ul class="social feature wow zoomIn" data-wow-duration="0.8s" data-wow-delay="0.1s">
				
					{{#social}}
					{{#if link}}
					<li class="icon">
					<div class="octa">
					</div>
					<a target="_blank" href="{{{link}}}"><i class="fa fa-{{icon}}"></i></a>
					</li>
					{{/if}}
					{{/social}}
				</ul>
			</div>
			<div class="col-md-7">
				<h4 class="text-center"><b>SEND US A MESSAGE</b></h4>
				<br />
				<!--fck-->
				contact_form.htm
			</div>
		</div>